{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<br/>
    <h1 style="color: #155df8;">Welcome {{ user.username }}!</h1>
    {% if tasks %}
        <div class="row d-flex">
            {% for task in tasks %}
                <div class="col-md-3 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ task.task_name }}</strong></h5>
                            <p class="card-text"><strong>Category:</strong> {{ task.task_category }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Description:</strong> {{ task.task_description }}</li>
                            <li class="list-group-item"><strong>Created:</strong> {{ task.task_created }}</li>
                            <li class="list-group-item"><strong>Expiration Date:</strong> {{ task.task_expiration_date }}</li>
                            <li class="list-group-item"><strong>Status:</strong> {{ task.task_status }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'update' task.id %}" class="btn btn-primary">Update</a>
                            <a href="{% url 'delete' task.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tasks found.</p>
    {% endif %}
{% else %}
    <div class="col-md-6 offset-md-3">
        <h1 style="color: #155df8;">Login</h1>
        <br/>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <br/>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
{% endif %}
{% endblock %}
