{% extends "base.html" %}

{% block content %}
<div class="col-md-6 offset-md-3">
<div class="container">
    <h1 style="color: #155df8;">Finished Tasks</h1>
    {% if tasks %}
        <div class="row">
            {% for task in tasks %}
                <div class="col-md-3 mb-3">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ task.task_name }}</strong></h5>
                            <p class="card-text"><strong>Category:</strong> {{ task.task_category }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Description:</strong> {{ task.task_description }}</li>
                            <li class="list-group-item"><strong>Created:</strong> {{ task.task_created }}</li>
                            <li class="list-group-item"><strong>Expiration Date:</strong> {{ task.task_expiration_date }}</li>
                            <li class="list-group-item"><strong>Status:</strong> {{ task.task_status }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No finished tasks found.</p>
    {% endif %}
</div>
</div>
{% endblock %}
